<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentry Eye | Face Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="cinema-container">
        <div class="feed-viewport">
            <img id="videoFeed" src="{{ url_for('video_feed') }}" alt="Live Video Feed">
            <div class="overlay-grid"></div>
        </div>

        <div class="sentiment-overlay">
            <h2 id="currentEmotion">Neutral</h2>
            <div class="status-indicator">
                <span class="pulse"></span>
                SYSTEM ACTIVE
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>


</html>